*{
    background-color: black;
    overflow: hidden;
    margin: 0;
}
.button{
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(44, 44, 44);
    text-decoration: none;
    border-radius: 10px;
    z-index: 20;
    font-family: monospace;
    box-shadow: 0 0px 6px rgba(255, 255, 255, 0.1);
    transition: transform 0.5s ease, background-color 1s ease, box-shadow 0.5s ease;
}
.button:hover {
    background-color: rgb(75, 75, 75);
    transform: translateY(-3px);
    box-shadow: 0 0px 15px rgba(255, 255, 255, 0.4);
}
.button:active {
    transform: translateY(1px);
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
}
.wave-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    filter: blur(3px);
}
.left-waves {
    top: 0;
    transform: rotate(180deg);
    background-color: transparent;
    height: 200px;
}
.right-waves {
    bottom: 0;
    background-color: transparent;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 200%;
    height: 80%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.wave1{
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
    opacity: 0.5;
    z-index: 15;
}
.wave2{
    -webkit-background-size: 50% 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
    opacity: 0.7;
    z-index: 10;
}
.wave3{
    -webkit-background-size: 50% 50px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite;
    opacity: 1;
    z-index: 5;
}
.wave4{
    -webkit-background-size: 50% 80px;
    background-size: 50% 80px;
    opacity: 0.5;
    z-index: 15;
}
.wave5{
    -webkit-background-size: 50px 100px;
    background-size: 50% 100px;
    animation: animate 12s linear infinite;
    opacity: 0.7;
    z-index: 10;
}
.wave6{
    -webkit-background-size: 50% 50px;
    background-size: 50% 80px;
    animation: animate 18s linear infinite;
    opacity: 1;
    z-index: 5;
}
@keyframes animate{
    0%{
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50%{
        transform: translateX(-25%) translateZ(0) scaleY(0.5);
    }
    100%{
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}